html {
    min-height: 100%;
}

body {
    background-color: #74EBD5;
    background-image: linear-gradient(-109.6deg, rgb(129, 255, 249) 11.2%, rgb(97, 113, 255) 91.1%);
}

.mainDiv {
    padding: 2.5rem 0;
    text-align: center;
}

.imgSection {
    width: 7rem;
    margin: auto;
    max-width: 100%;
}

img {
    width: 7rem;
    border-radius: 50%;
}

.border {
    border: 2px solid #ffffff !important;
    max-width: 600px;
}

.heading {
    font-size: 1.25rem;
    font-family: cursive;
    font-weight: lighter;
    margin: 1rem;
}

.mDiv {
    margin: 3.5rem;
}

.element {
    border-radius: 10px;
    margin: 1.5rem auto 0;
}

.btn {
    width: 100%;
    max-width: 65ch;
    border-radius: 5px;
    font-weight: 700;
    opacity: 0.5;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 25px;
    justify-content: center;
    display: flex;
}

button:hover {
    opacity: 1;
    transition: opacity .5s ease-out 0s;
}

@media (max-width: 1028px) {
    .footer {
        position: relative;
    }

    .heading {
        font-family: sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
    }
}
